@import "../utils/variables";

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__container {
    display: flex;
    width: 98%;
    height: 98%;
    background: $white;
    border-radius: 40px;
    box-shadow: 0px 10px 30px rgba(0, 3, 21, 0.1);
    overflow: hidden;
    padding: 24px;
  }

  &__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    padding: 56px 64px;
    gap: 32px;

    &-container {
      width: 544px;
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    h1 {
      color: $primary-dark;
      font-weight: 600;
      font-size: 32px;
      margin-bottom: 0;
    }

    span {
      font-size: 16px;
      color: $gray-dark;
    }

    .login-page__social-buttons {
      display: flex;
      gap: 12px;
      color: $gray-medium;
    }

    .login-page__divider {
      width: 544px;
      border: 0.5px solid $gray-medium;
    }

    .login-page__form {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    .login-page__signup {
      color: $primary-light;
      opacity: 0.8;
      text-align: left;
      font-weight: 400;
      font-size: 16px;

      a {
        color: $primary-light;
        font-weight: $font-weight-semi-bold;
        text-decoration: none;
        font-size: 16px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__right {
    flex: 1;
    position: relative;
  }

  &__gradient {
    position: absolute;
    inset: 0;
    border-radius: 40px;
    background: linear-gradient(90.66deg, $accent-start 11.53%, $accent-end 229.96%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 35px;
  }

  &__content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 651px;
  }

  &__title {
    font-size: 36px;
    font-weight: 600;
    color: $white;
    margin: 0;
    leading-trim: both;
    text-edge: cap;
  }

  &__description {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: $white;
    margin: 0;
  }

  &__image-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    min-height: 400px;
  }

  &__image {
    position: absolute;
    width: 90%;
    height: 90%;
    pointer-events: none;
    filter: drop-shadow(0px 40px 100px rgba(0, 0, 0, 0.3));

    &-el {
      position: relative !important;
      height: auto !important;
    }

    &--first {
      z-index: 1;
      transform: translate(-50px, 12px);
    }

    &--second {
      z-index: 1;
      transform: translate(100px, 160px);
    }
  }
}

/* ✅ Hide the right-side background for tablets and mobile */
@media (max-width: 798px) {
  .login-page__right {
    display: none;
  }
}

@media (max-width: 1204px) {
  .login-page__image {
    &--first {
      z-index: 1;
      transform: translate(0rem, 0.75rem); // 12px = 0.75rem
    }
    &--second {
      transform: translate(1.875rem, 4.375rem); // 30px = 1.875rem, 70px = 4.375rem
    }
  }
}
