.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px; 
  font-weight: 500;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  outline: none;
  border: none;


  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25); 
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  // --- Variants ---
  &--default {

    background-color:$primary-dark;
    color: $white;

    &:hover {
      background-color: #222; 
    }
  }

  &--outline {

    background-color: $white;
    color: $primary-dark;
    border: 1px solid $primary-dark;

    &:hover {
      background-color: $primary-medium; 
    }
  }

  &--social {
    
    background-color: $white;
    color: $gray-medium;
    border: 1px solid $gray-dark;

    &:hover {
      background-color: $gray-medium;
    }
  }

  // --- Sizes ---
  &--size-default {

    height: 3.50rem;
    padding: 0 1rem;
    font-size: 1rem;
  }

  &--size-sm {
    height: 2rem; 
    padding: 0 0.75rem;
    font-size: 0.875rem;
  }

  &--size-lg {
    height: 2.5rem; 
    padding: 0 1.5rem;
    font-size: 1.125rem;
  }


  &--full-width {
    width: 100%;
  }

  // --- Elements ---
  &__icon {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__spinner {
    margin-left: 0.5rem;
    width: 1rem;
    height: 1rem;
    animation: spin 1s linear infinite;
    fill: currentColor;

    &-circle {
      opacity: 0.25;
      stroke: currentColor;
    }

    &-path {
      opacity: 0.75;
    }
  }
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
