
$primary-dark: #000315;
$primary-medium: #1C122C;
$primary-light: #2D124C;


$gray-dark: #686374;
$gray-medium: #989EAC;
$gray-light: #F1F2F6;
$white: #FFFFFF;


$accent-start: #6700E9;
$accent-end: #D83AFF;


/* Typography */
$font-family-primary: "Assistant", sans-serif;
$font-weight-semi-bold: 600;
$font-size-xl: 32px;
$line-height-xl: 41.86px;
$letter-spacing-none: 0px;