@import "../styles/utils/_variables.scss";
@import "../styles/utils/_mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;600&display=swap");


/* Apply box-sizing globally */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $gray-light;
  color: $primary-back;
  font-family: "Assistant", sans-serif;
  margin: 0;
  padding: 0;
}


