@import "../../styles/utils/variables";

.country-info-card {
    border-radius: 1rem;
    background-color: $white;
    padding: 1.5rem;
    box-shadow: 0 0.0625rem 0.125rem rgba(0,0,0,0.05);
  
    &__label {
      font-size: 0.875rem;
      color: $gray-dark;
    }
  
    &__value {
      font-size: 2rem;
      font-weight: 500;
      color: $primary-light;
    }
}