@import "../../styles/utils/variables";

.country-list {
    border-radius: 1.5rem;
    padding: 1.5rem;
    overflow: hidden;
    height: calc(100vh - 12rem);
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;

    &__header-row {
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 0 1rem;
        font-size: 0.875rem;
        font-weight: 500;
    }

    &__header-cell {
        color: $gray-medium;
        font-size: 0.875rem;
        font-weight: 400;
    }

    &__rows {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        border-radius: 0.75rem;
        background-color: $white;
        padding: 1rem;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    &__cell {
        display: flex;
        align-items: center;
    }

    &__flag {
        border-radius: 9999px;
        object-fit: cover;
    }

    &__identifier-avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 9999px;
        background-color: $gray-dark;
    }
}
